header {
    display:flex;
    justify-content: space-between;
}
.logo {
    color: blue;
}
.navi {
    display: flex;
    position: absolute;
    right: 20px;
}
.item {
    list-style: none;
    margin-left: 20px;
}
.link {
    text-decoration: none;
}
.image-container {
    width: 100%;
    height: auto;
}
img {
    width: 50%;
    position: absolute;
    bottom: 200px;
    right: 0;
    z-index: 10;
}
.title {
    font-size: 70px;
    position: absolute;
    left: 0;
    bottom: 160px;
}
.blue-box {
    background-color:blue;
    width: 70vw;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: 0;
}